name: Update README

on:
  schedule:
    - cron: '0 */6 * * *'  # हरेक 6 घण्टामा update
  workflow_dispatch:  # Manual trigger पनि गर्न सकिन्छ

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Profile README

    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: 'Updated GitHub activity'
          MAX_LINES: 5